<% @merchants.each do |merchant| %>
<p>Merchant Name : <%= merchant.name %></p>
<p><a href="/transactions/<%= merchant.id %>">Edit Merchant</a></p>
<p><a href="/transactions/<%= merchant.id %>">Delete Merchant</a></p>
<hr>
<% end %>
