
<h2>User Information</h2>

<p>Your current budget is: <%= "£#{@user.budget}" %></p>


  <div class="edit">
    <p>Update your budget:
  <a class="button_element button_orange" href="/<%= @user.id %>/new-budget">Edit</a>
    </p>
  </div>




  <div class="total-spend">
  <p>Total Spending YTD : <%= "£#{@transactions_total}" %></p>
  </div>

<footer>

<% if @transactions_total >= @user.budget %>
<div class="warning">
  <p>You have spent your specified budget!</p>
</div>
<% end %>
</footer>
