<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <div class="header">
  <meta charset="utf-8">
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  </div>
</head>

<body>
  <div class="header">

    <header>
      <div class="navbar">

        <p>bee::savvy</p>

        <a href="/">home</a>

        <div class="dropdown">
          <button class="dropbtn">transactions
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/transactions">all transactions</a>
            <a href="/transactions/new">add new transaction</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">settings
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/merchants/new-merchant">add new merchant</a>
            <a href="/tags/new-tag">add new category</a>
            <a href="/merchants">merchants</a>
            <a href="/tags">categories</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">analysis
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/transactions/sort/DESC">sort by date</a>
            <a href="/transactions/sort-merchant/default">sort by merchant</a>
            <a href="/transactions/sort-tag/default">sort by category</a>
            <a href="/pie_merchant" target="_blank">merchant pie chart</a>
            <a href="/pie_tag" target="_blank">category pie chart</a>
          </div>
        </div>

        <div class="icon">
          <a href="/" class="button-icon"><img src="/images/bee_icon.jpg" height="40" width="40" alt=""></a>
        </div>

      </div>
      <hr>
      <br>
    </header>


    <%= yield %>
  </div>
</body>


</html>
