<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <div class="header">
  <meta charset="utf-8">
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
  </div>
</head>

<body>
  <div class="header">

    <header>
      <div class="navbar">

        <p>Bee-Savvy</p>

        <a href="/">Home</a>

        <div class="dropdown">
          <button class="dropbtn">Transactions
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/transactions">All Transactions</a>
            <a href="/transactions/new">Add New Transaction</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Settings
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/merchants/new-merchant">Add New Merchant</a>
            <a href="/tags/new-tag">Add New Category</a>
            <a href="/merchants">Edit Merchants</a>
            <a href="/tags">Edit Categories</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Table Options
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/transactions/sort/DESC">Sort Table By Date</a>
            <a href="/transactions/sort-merchant/default">Sort Table By Merchant</a>
            <a href="/transactions/sort-tag/default">Sort Table By Category</a>
            <a href="/pie_merchant">Merchant Pie Chart</a>
            <a href="/pie_tag">Category Pie Chart</a>
          </div>
        </div>

        <div class="icon">
          <a href="/" class="button-icon"><img src="/images/bee_icon.jpg" height="40" width="40" alt=""></a>
        </div>

      </div>
      <hr>
      <br>
    </header>


    <%= yield %>
  </div>
</body>


</html>
