<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Spending Tracker</title>
</head>
<body>
  <h1>Money Spending Tracker</h1>
  <nav>
    <ul>
      <li><a href="/transactions">All Transactions</a></li>
      <li><a href="#"></a></li>
    </ul>
  </nav>


  <%= yield %>
</body>
</html>
