<h2>Merchant Information</h2>
<% @merchants.each do |merchant| %>
<p>Merchant Name : <%= merchant.name %></p>

<div class="button_element">
  <button type="button" name="button"><a href="/transactions/<%= merchant.id %>/edit-merchant">Edit Merchant</a></button>
</div>

<div class="button_element">
  <form onsubmit="return confirm('Be aware that deleting a merchant linked to a transaction will delete all associated data. Are you sure you want to delete this merchant?')" action="/transactions/<%= merchant.id %>/delete-merchant" method="post"><input type="submit" value="Delete"></form>
</div>


<hr>
<% end %>
