<h2>Input New Budget</h2>
<form action="/<%= @user.id %>" method="post">
<div class="form-wrapper">

<div class="form-element">
  <label for="budget">Budget :</label>
  <input type="number" name="budget" id="budget">
</div>

<div class="button-element">
  <input type="submit" value="Save New Budget">
</div>


</div>
</form>

<footer>
<% if @transactions_total >= @user.budget %>
<div class="warning">
  <p>You have spent your specified budget!</p>
</div>
<% end %>
</footer>
