header p {
  color: white;
  float: left;
  font-weight: 900;
  color: rgb(000,000,000,0.8);
  font-size: 30px;
  letter-spacing: 0.3em;
  padding-right: 20px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}



.icon {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 10px;
  background: white;
}

.icon img {
  padding-bottom: 10px;
}

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  width: 100vw;
  min-width: 1000px;
  font-weight: 900;
}

.navbar a {
  float: left;
  color: rgb(000,000,000,0.8);
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding-top: 40px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  letter-spacing: 0.2em;
  font-weight: 900;
  font-size: 18px;
  border: none;
  outline: none;
  color: rgb(000,000,000,0.8);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-top: 40px;
  padding-left: 30px;
}

.navbar a:hover, .dropdown:hover .dropbtn {


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 4px 4px 4px;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
    font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
